[Unit]
Description=Thermocline HMI Electron Application
After=graphical.target xserver.service
Wants=graphical.target xserver.service

[Service]
Type=simple
User=root
Environment=DISPLAY=:0
Environment=XDG_RUNTIME_DIR=/tmp
ExecStart=/opt/thermocline-electron/thermocline-electron
Restart=always
RestartSec=5

[Install]
WantedBy=graphical.target
